<div class="mother">
  <opa-scroll>
    <section opaWayPoint style="background-color: orangered;">1</section>
    <section opaWayPoint style="background-color: aqua;">2</section>
    <section opaWayPoint style="background-color: greenyellow;">3</section>
    <section opaWayPoint style="background-color: brown;">4</section>
    <section opaWayPoint style="background-color: pink;">5</section>
    <section opaWayPoint style="background-color: fuchsia;">6</section>
    <section opaWayPoint style="background-color: red;">7</section>
    <section opaWayPoint style="background-color: olive;">8</section>
    <section opaWayPoint style="background-color: lime;">9</section>
  </opa-scroll>
  <opa-scroll>
    <section opaWayPoint style="background-color: orangered;">1</section>
    <section opaWayPoint style="background-color: aqua;">2</section>
    <section opaWayPoint style="background-color: greenyellow;">3</section>
    <section opaWayPoint style="background-color: brown;">4</section>
    <section opaWayPoint style="background-color: pink;">5</section>
    <section opaWayPoint style="background-color: fuchsia;">6</section>
    <section opaWayPoint style="background-color: red;">7</section>
    <section opaWayPoint style="background-color: olive;">8</section>
    <section opaWayPoint style="background-color: lime;">9</section>
  </opa-scroll>
</div>
